<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTables" version="2.4.2" targetFramework="net48" />
  <package id="ConsoleTools" version="0.4.0" targetFramework="net48" />
  <package id="ConsoleTools.Controls" version="1.1.0" targetFramework="net48" />
  <package id="ConsoleTools.Controls.Menus" version="1.1.0" targetFramework="net48" />
  <package id="ConsoleTools.Controls.Spinners" version="1.1.0" targetFramework="net48" />
  <package id="ConsoleTools.Controls.Tables" version="1.1.0" targetFramework="net48" />
  <package id="ConsoleTools.Core" version="1.1.0" targetFramework="net48" />
</packages>